html{
  direction: rtl;
  height: 100vh;
}
body{
  height: 100vh;
}
#root{
  height: 100vh;
}

h1 h2 {
  color: aliceblue;
}
.App {
  text-align: center;
  background-color: #180d01;
  background-image: url(C:\Users\a7mad\Desktop\vsFolder\React\PrayerTime\public\MasjidBackground2.png);
  background-size:100%; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  min-height: '100vh',
}
@media (max-width: 768px) {
  .App {
    background-size: 200%; /* Increase the size to zoom in */
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
